/* HighlightComponent.css */
.toolbar {
  position: absolute;
  z-index: 9999;
  background-color: white;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.highlight-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.note-card {
  margin-bottom: 20px;
}

.note-time {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #888;
}

.highlight {
  background-color: #0EB4D3; /* 主题色背景 */
  color: white; /* 白色字体 */
}
