/* HighlightComponent.css */
.toolbar {
  position: absolute;
  z-index: 9999;
  background-color: white;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.highlight {
  border-bottom: 2px solid #0EB4D3; /* 主题色划线 */
}
